<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yadercenteno.libretaclaves">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/llave"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InicioActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Agregar"
            android:label="@string/agregar_activity"
            android:parentActivityName=".InicioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yadercenteno.libretaclaves.InicioActivity" />
            </activity>
        <activity
            android:name=".Editar"
            android:label="@string/editar_activity"
            android:parentActivityName=".InicioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yadercenteno.libretaclaves.InicioActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73ed99c7173087e83a0cf8a4b8589a4f91e7b893" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
